*{
	margin: 0;
}

a:link {
    color: black;
	text-decoration: none;
}

a:visited {
    color: black;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
    color: #161616;
	text-decoration: none;
}

a:active {
    color: black;
	text-decoration: none;
}

html, body {
	height: 100%;
    position: relative;
}

.trademodels li {
	background: url("../image/arrow.png") 0 50% no-repeat;
	list-style-type: none;
	padding-left: 12px;
}

.boldparagraph {
	font-weight: bold;
	font-size: 14pt;
	text-decoration: underline;
	padding-left: 30px;
}

.rightalign {
	text-align: right;
}

.container {
	overflow: hidden;
}

.dis_bolme {
}
.yuzdeOrta{
	float:left;
	width:12.4%;
	min-height:250px;
	text-align: center;	
}
	
.yuzdeRight {
	float:left;
	width:20%;
	min-height:250px;
	text-align: center;
	background-color:#6FC6EE;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.yuzdeMid {
	width: 62%;
	float: left;
	min-height: 250px;
    padding-bottom: 500em;
    margin-bottom: -500em;
	background-color: silver;
}

.yuzdeLeft{
	float:left;
	width:18%;
	text-align: center;
	background-color:#6FC6EE;
    padding-bottom: 500em;
    margin-bottom: -500em;
}
.solpencere {
	width: 250px;
	background-image:url(../image/arabalarbgtr.png);
	background-repeat: repeat-y;
	font-size: 11pt;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.sagpencere {
	width: 250px;
	background-image:url(../image/arabalarbgtr.png);
	background-repeat: repeat-y;
	font-size: 11pt;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.source {
	width: 50px;
}

.sourcein {
	width: 44px;
	border-width: 3px;
	border-style: solid;
	border-color: #660000;
	border-radius: 4px;
}

.logo {
	color: white;
	text-align: center;    
	width: 80%;
	height: 130px;
	float: left;
	background-image: url(../image/bg.png);
}

.kullanici {
	width: 20%;
	height: 130px;
	float: left;
	background-color: #5FB6DE;	
}
.logoleft {
	float: left;
	width: 38%;
	height: 130px;
}
.logoright {
	float: left;
	width: 29%;
	height: 130px;
}
.logomiddle {
	float: left;
	width: 33%;
	height: 130px;
}
.footer {
	width:100%;
	height:60px;
	float:left;
	background-color:#BCBCBC;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: black;
}

.footertext {
	font-weight: bold;
	font-size: 8pt;	
}

.footsolkenar {
	width: 15%;
	height: 60px;
	float: left;
}

.footsagkenar {
	width: 14%;
	height: 60px;
	float: left;
	border-style: dotted;
	font-size: 11pt;
	border-width: 0 0 0 1px;
	vertical-align: center;
}

.footorta {
	width: 70%;
	height: 60px;
	float: left;
	vertical-align: center;
}

.tradehead {
	background-image: url(../image/altpattern.png);
	background-position: bottom;
	background-repeat: repeat-x;
	width: 100%;
	height: 100px;
}

.tradeheadback {
	background-color: #DDDDDD;
	width: 100%;
	height: 100px;
}

.tradeheadleft {
	width: 15%;
	height: 90px;
	float: left;
	vertical-align: center;
	text-align: center;
}

.tradeheadmid {
	font-size: 32pt;
	font-family: 'Bradley Hand ITC';
	font-weight: bold;
    text-shadow: 2px 3px #000000;
	color: darkblue;
	width: 65%;
	height: 75px;
	float: left;
	text-align: left;
	vertical-align: center;
	padding-top: 15px;
}

.tradeheadright {
	width: 20%;
	height: 90px;
	float: left;
	text-align: center;
	vertical-align: center;
	font-weight: bold;
}

.tradeheadrighttop {
	width: 100%;
	height: 60px;
	float: top;
	padding-top: 4px;
}
.tradeheadrightbot {
	width: 100%;
	height: 20px;
	float: top;
	padding-top: 6px;
}

.tradesummary {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 15px;
	font-size: 12pt;
	font-style: italic;
	text-align: justify;
}

.tradebot {
	width: 100%;
	float: left;
	padding-top: 40px;
}

.traderatingdiv {
	width: 33%;
	float: left;
}

.trademodels {
	width: 67%;
	float: left;
}

.traderating {
	width: 100%;
	min-height: 50px;
	float: left;
	text-align: center;
}

.traderatinginf {
	width: calc(100% - 5px);
	float: left;
	height: 80px;
	padding-top: 15px;
	padding-left: 5px;
	font-style: italic;
	background-color: palegoldenrod;
	border-radius: 10px;
	text-align: center;
	display:block;
	position: relative;
    top: -120px;
}

.traderatinginf p {
	text-indent: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

.tradestarback {
	width: 100%;
	float: left;
	text-align: center;
}

.tradestarbackwrapper {
	width: 66%;
	float: left;
}

.tradestarpercenttop {
	width: 100%;
	float: left;
	background-color: #DDDDDD;
}

.tradestarpercentbot {
	width: 100%;
	float: left;
	background-color: gold;
}

.tradestarempty {
	width: 17%;
	min-height: 100px;
	float: left;
}

.tradestarwrapper {
	width: 66%;
	float: left;
	text-align: center;
}

.tradestarpict {
	width: 100%;
	height: 120px;
	float: left;
	display:block;
	position: relative;
    top: -120px;
	border-color: goldenrod;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
}

.starselect {
	height: 30px;
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #EEEEEE url(../image/stararrow.png) repeat 90% center;
	background-size: 10px;
	width: 120px;
	text-indent: 0.01px;
	text-overflow: "";
	color: black;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	cursor: pointer;
	text-indent: 5px;
}

.starselect:hover {
	background-color: #DDDDDD;
}

.btnrate {
	width: 50px;
	height: 30px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-width: 2px;
	border-style: solid;
	border-color: #565758;
	border-radius: 10px;
	cursor: pointer;
}

.btnrate:hover{
	background-color: #DDDDDD;
}

.modelgoback {
	width: 100%;
	height: 30px;
	float: left;
	text-align: left;
	padding-top: 5px;
	padding-left: 30px;
}

.gobackbutton {
	cursor: pointer;
}
.gobackbutton:hover {
	zoom: 1.05;
	-moz-transform: scale(1.05);
}

.modelminipict {
	width: 100%;
	height: 100px;
	float: left;
	vertical-align: center;
	text-align: center;
	background-color: #DFDFDF;
	padding-top: 20px;
}

.modelpict {
	width: 100%;
	height: 500px;
	background-color: #DDDDDD;
	text-align: center;
}

.modelprop {
	width: 100%;
	height: 300px;
	float: left;
	padding-top: 20px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: darkgray;
	background-color: #AABBCC;
	text-align: center;
	vertical-align: center;
}

.modelproptable {
	width: 90%;
	float: left;
	border-collapse: collapse;
	background-color: #C5C5C5;
}

.modelproportalaempty {
	width: 4%;
	height: 100px;
	float: left;
}

.modelproptable th {
	font-size: 18pt;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	padding: 8px;
}

.modelproptable td {
	font-size: 14pt;
	border-width: 1px;
	border-style: solid;
	padding-top: 8px;
	padding-bottom: 8px;
}

.modeltitle {
	width: 25%;
	font-weight: bold;
}

.modelres {
	font-style: italic;
}

.minipict {
	width: 80px;
	height: 60px;
	padding-left: 6px;
	padding-right: 6px;
	border-width: 3px;
	border-style: solid;
	border-color: #DFDFDF;
}

.minipict:hover {
	border-width: 3px;
	border-style: solid;
	border-color: #676767;
	cursor: crosshair;
}

.bigpict {
	height: 300px;
	border-style: solid;
	border-width: 4px;
	border-color: silver;
	box-shadow: 10px 10px 5px #888888;
}

.bigpict:hover {
	height: 360px;
	cursor: zoom-in;
}

.hakkimizdatitle{
	width:100%;
	height:65px; 
	float:left;
	text-align : center;
	letter-spacing: 3px;
	font-size: 30px;
	font-family : Verdana;
	padding-top : 35px;
	font-weight : bold;
}

.kisiler{
	width:100%;
	height:400px; 
	float:left;
}

.bosluk{
	width:4%;
	height:400px; 
	float:left;
}

.fotolar{
	width:28%;
	height:400px; 
	float:left;
	text-align : center;
	font-family : Verdana;
	font-weight : bold;
}

.hakkimizdatitleson{
	width:100%;
	height:100px; 
	float:left;
	font-weight : bold;
	text-align : center;
}

.cartoonresim{
	width:100%;
}

.emailyazi{
	float:left;
	width: 100%;
	text-align : center;
	font-size: 10pt;
	font-style : italic;
	font-weight : bold;
}

.backgroundresim{
	width : 100%;
	height: 600px;
	background-image : url(../image/kaynak/hakkimizdabg.png);
	background-repeat : repeat;
	opacity:1;
}

.giristable {
	float: left;
}

.girisinput {
	width:176px;
}

.girisbuton {
	width:80px; 
	cursor: pointer;
}
.girisbuton:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.cikisbuton {
	width:150px; 
	cursor: pointer;
}
.cikisbuton:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.girissifremiunuttum {
	width:176px;
	height: 10px;
	text-align:center;
}

.girisuyari {
	width:176px; 
	text-align:center;
	font-style: italic;
	font-size: 10pt;
	font-weight: bold;
	color: maroon;
}

.giristext {
	width:176px;
	text-align:center;
}

.giristextusername {
	width:176px;
	height:40px;
	vertical-align: center;
	text-align:center;
}

.userback {
	width: 100%;
	height: 550px;
	background-color: silver;
}

.usertop {
	width: 100%;
	height: 200px;
	float: left;
	padding-top: 10px;
	background-color: #65CD83;
}

.userpict {
	width: 30%;
	height: 190px;
	float: left;
}

.userphotodiv {
	width: 100%;
	height: 170px;
	float :left;
	text-align: center;
	vertical-align: center;
}

.userphoto {
	height: 164px;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
	border-width: 3px;
	box-shadow: 10px 10px 5px #232425;
}

.userchangephotodiv {
	width: 100%;
	height: 20px;
	float :left;
	text-align: center;
	vertical-align: center;
}

.userchangephoto {
	width: 100%;
	font-size: 8pt;
	color: black;
	vertical-align: center;
}

.userinftop {
	width: 70%;
	height: 190px;
	float: left;
	background-color: #ACABF0;
}

.userinfotable {
	width: 100%;
	text-align: left;
	padding-left: 50px;
}

.usertableusername {
	font-size: 32pt;
	font-family: 'Bradley Hand ITC';
	font-weight: bold;
    text-shadow: 2px 3px #000000;
	color: darkblue;
	text-align: left;
	vertical-align: center;
	padding-top: 10px;
}

.usertablecell {
	text-align : left;
	font-size: 12pt;
	width: 15%;
}


.usertablecellcontent{
	text-align : left;
	font-style: italic;
	font-weight: bold;
	font-size: 12pt;
}

.usermid {
	width: 92%;
	float: left;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 30px;
	text-align: right;
}

.userempty {
	width: 100%;
	height: 25px;
	float: left;
}

.usercardiv {
	width: %70;
	min-height: 25px;
	padding-top: 10px;
	float: left;
	text-align: left;
	font-weight: bold;
}

.userbottomortala {
	width: 20%;
	float: left;
	min-height: 50px;
}

.userpasschange {
	width: 30%;
	float: left;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-bottom-color: darkgray;
	box-shadow: 2px 2px 2px #232425;
	background-color: brown;
}

.userpasschangetable {
	height: 220px;
	font-size: 11pt;
	text-align: left;
	vertical-align: center;
}

.userpasschangetitle {
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.degisbuton {
	width: 120px;
	cursor: pointer;
}
.degisbuton:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.degisinput {
	width: 140px;
}

.degisuyari {
	height: 18px;
	text-align:center;
	font-style: italic;
	font-size: 11pt;
	font-weight: bold;
	color: maroon;
}

.degisuyaripos {
	height: 14px;
	text-align:center;
	font-style: italic;
	font-size: 11pt;
	font-weight: bold;
	color: green;
}
.kaydolback {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
}

.kaydoltable {
	width: 50%;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #667788;
	border-radius: 8px;
}

.kaydolhucre{
	height: 25px;
    font-size: 11px;
	font-family:Verdana;
	font-weight: bold;
    text-align: left;
    padding: 2px;
	padding-left: 4px;
    background: #38ACEC;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
	border-width: 3px;
	box-shadow: 3px 3px 3px #232425;
}

.kaydolinput_giris{
	width: 85%;
	height: 25px;
	box-shadow: 3px 3px 3px #232425;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
    float:left;
}
.kaydolinputlar {
    width: 85%;
    height: 25px;
    box-shadow: 3px 3px 3px #232425;
    border-style: solid;
    border-color: #660000;
    border-radius: 8px;
    float: left;
}
.kaydolresim{
	height: 25px;
	position: relative;
    left: -40px;
}
.kaydolradio{

}

.kaydolbuttondiv {
	width: 45%;
	height: 40px;
	float: left;
	text-align: right;
	vertical-align: center;
}

.kaydolempty {
	width: 100%;
	height: 50px;
	float: left;
}
.kaydolortalaempty {
	width: 25%;
	height: 450px;
	float: left;
}
.kaydolemptyshort {
	width: 50%;
	height: 50px;
	float: left;
}

.kaydolstar {
	width: 5%;
}

.kaydolyazi {
	font-size: 12pt;
	font-family: Verdana;
	font-style: italic;
	padding-left: 70px;
	padding-right: 70px;
	text-align: justify;
}

.kaydolyazi p {
	text-indent: 20px;
	padding-bottom: 12px;
}

.kaydolbittimesaj {
	width: 65%;
	float: left;
	font-size: 12pt;
	font-family: Verdana;
	font-style: italic;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 100px;
	text-align: justify;
}

.kaydolsagok {
	width: 15%;
	float: left;
	padding-top: 100px;
}

.sagok {
	width: 100%;
}

.newswrapper {
	width: 100%;
	float: left;
	text-align: center;
}

.newsmaintitle {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}

.newsyok  {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
	font-size: 14pt;
	font-style: italic;
}

.newsalldiv {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
}

.newsalltable {
	width: 70%;
	float: left;
	text-align: center;
}

.newsempty {
	width: 15%;
	float: left;
	min-height: 100px;
}

.newstablerowempty {
	height: 25px;
}

.newstablerow {
	width: 100%;
	height: 100px;
	background-color: orange;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	padding-bottom: 25px;
}

.newstablecellimg {
	min-width: 15%;
	text-align: center;
}

.newsimg {
	width: 100%;
}

.newstablecontent {
	width: 95%;
	padding-left: 15px;
	padding-top: 5px;
	height: 100px;
	float: left;
	cursor: pointer;
}

.newstabletitle {
	width: 100%;
	height: 25px;
	float: left;
	font-weight: bold;
	text-align: left;
	background-color: orangered;
	border-radius: 8px;
}

.newstablesummary {
	width: 100%;
	height: 55px;
	float: left;
	font-size: 11pt;
	font-style: italic;
	text-align: justify;
}

.newstablewriter {
	width: 100%;
	float: left;
	font-size: 10pt;
	text-align: right;
}

.newsalltable a:hover {
	font-weight: normal;
    text-shadow: 1px 1px orangered;
}

.newsaddtitle {
	width: 80%;
	float: left;
	text-align: right;
}

.newstitlediv {
	width: 100%;
	height: 80px;
	float: left;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
	padding-top: 25px;
}

.newstextdiv {
	width: calc(100% - 200px);
	min-height: 100px;
	float: left;
	text-indent: 20px;
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
}

.newstimediv {
	width: 100%;
	height: 40px;
	float: left;
	font-style: italic;
	text-align: left;
	padding-left: 100px;
}

.newsuser {
	width: calc(100% - 50px);
	height: 40px;
	float: left;
	text-align: right;
	padding-top: 20px;
}

.newnew {
	padding-left: 100px;
	text-align: left;
}

.newsinputtitle {
	width: 60%;
	height: 30px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding-left: 10px;
}

.newsinputempty {
	width: 70%;
	height: 40px;
}

.newsinputtext {
	min-width: 70%;
	max-width: 70%;
	min-height: 250px;
	max-height: 250px;
	vertical-align: top;
	text-align: top;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding-left: 10px;
	padding-top: 10px;
}

.btnnews {
	cursor: pointer;
}
.btnnews:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.btnnewsdiv {
	padding-top: 50px;
	width: 70%;
	height: 30px;
	text-align: right;
}

.newscommentsdiv {
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: black;
	border-top-width: 1px;
	border-top-style: solid;
}

.commentinputtext {
	min-width: 70%;
	max-width: 70%;
	min-height: 70px;
	max-height: 70px;
	vertical-align: top;
	text-align: top;
	background-color: #EEEEEE;
	border-radius: 8px;
	padding-left: 10px;
	padding-top: 10px;
}

.btnnewsdiv {
	padding-top: 20px;
	width: 85%;
	height: 30px;
	text-align: right;	
}

.btncomment {
	cursor: pointer;
}
.btncomment:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.newscommenttitle {
	width: 70%;
	float: left;
	padding-left: 15%;
	text-align: left;
	vertical-align: center;
	min-height: 40px;
	font-weight: bold;
	font-size: 14pt;
}

.newscommentalldiv {
	min-width: 70%;
	max-width: 70%;
	padding-left: 15%;
	padding-top: 20px;
	padding-bottom: 40px;
	float: left;
	text-align: justify;
	font-style: italic;
}

.commentcontent {
	width: calc(100% - 30px);
	float: left;
	min-height: 40px;
	background-color: #EEEECE;
	padding: 15px;
	text-align: justify;
	border-style: solid;
	border-width: 2px;
	border-color: darkblue;
	border-radius: 8px;
}

.commentbot {
	width: calc(100% - 40px);
	float: left;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.commentdate {
	width: 50%;
	float: left;
	text-align: left;
}

.commentuser {
	width: 50%;
	float: left;
	text-align: right;
}

.modeladdwrapper {
	width: 100%;
	padding-left: 20%;
	padding-top: 60px;
	float: left;
}

.modeladdtable {
	width: 60%;
	float: left;
	font-weight: bold;
}

.modeladdtable input, select {
	width: 100%;
	height: 22px;
	float: left;
	background-color: #EDEDED;
	border-radius: 8px;
}

.modeladdtable select {
	height: 30px;
}

.modeladdtableright {
	padding-left: 10px;
}

.modeladdbtndiv {
	width: 100%;
	height: 30px;
	float: left;
	text-align: right;
	vertical-align: center;
}

.modeladdvoid {
	height: 10px;
	width: calc(100% - 120px);
	float: left;
}

.modelkayitbuton {
	min-width: 120px;
	max-width: 120px;
	min-height: 30px;
	max-height: 30px;
	float: left;
	cursor: pointer;
}
.modelkayitbuton:hover{
	 zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.modeladdwarn {
	min-width: 15px;
	color: maroon;
	font-weight: bold;
}

.modelupdateinput {
	width: 30%;
	border-style :solid;
	border-width: 2px;
	border-color: #ABABAB;
	border-radius: 5px;
	background-color: #BCBCBC;
}

.modelguncellebutondiv {
	width: 60%;
	padding-top: 30px;
	text-align: right;
}

.modelguncellebuton {
	cursor: pointer;
}
.modelguncellebuton:hover{
	zoom: 1.05;
	 -moz-transform: scale(1.05);
}

.fotohatadiv {
	width: 100%;
	float: left;
	padding-top: 30px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: maroon;
}

.imageshowdiv {
	width: 100%;
	float: left;
	padding-top: 30px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: darkgreen;
}

.modelfotoupdate {
	float: left;
	text-align: center;
}

.modelfotoupdatediv {
	width: 50%;
	padding-left: 25%;
	float: left;
	text-align: center;
}

.modelpictupdatelink {
	width: calc(100% - 50px);
	background-color: #DDDDDD;
	padding-right: 50px;
	float: left;
	text-align: right;
}

.profilfotoaddwrapper {
	width: 39%;
	padding-top: 30px;
	float: left;
	font-weight: bold;
}
.profilfotoaddwrapper p{
	text-align: center;
	color: maroon;
}

.profilfotoguncellebutondiv {
	padding-top: 15px;
	text-align: right;
}

.profilfotoupdateinput {
	width: 100%;
	border-radius: 8px;
	background-color: #EDEDED;
}

.usercartopwrapper {
	width: 100%;
	float: left;
	padding: 20px;
	height: 200px;
	background-color: #B0B0BC;
}

.usercarpictdiv {
	width: 30%;
	float: left;
	height: 200px;
	vertical-align: center;
}

.usercarpict {
	width: calc(100% - 8px);
	max-height: 100%;
	border-style: solid;
	border-width: 4px;
	border-color: silver;
	box-shadow: 10px 10px 5px #888888;
}

.usercartitlediv {
	width: 60%;
	height: 200px;
	float: left;
}

.usercartitle {
	width: calc(100% - 20px);
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 20pt;
	font-family: 'Bradley Hand ITC';
    text-shadow: 2px 3px #000000;
	color: darkblue;
	text-align: left;
	vertical-align: center;
	padding-top: 10px;
	padding-left: 20px;
}

.usercardetails {
	width: calc(100% - 30px);
	padding-left: 30px;
	float: left;
}

.usercartable {
	width: 100%;
	float: left;
	padding-top: 5px;
}

.usertableitalic {
	font-style: italic;
	font-size: 16pt;
	text-align: center;
	padding-bottom: 15pt;
}

.usertabletitle {
	font-weight: bold;
	font-size: 12pt;
}

.usertablecontent {
	font-size: 12pt;
}

.usercarcomment {
	width: 100%;
}

.userusedcarpictdiv {
	width: 40%;
	float: left;
	padding-top: 15px;
}

.userusedcarpict {
	width: 100%;
	float: left;
	text-align: left;
	border-style: solid;
	border-width: 4px;
	border-radius: 10px;
	border-color: darkblue;
	box-shadow: 10px 10px 5px #888888;
}

.userusedcarname {
	width: 60%;
	float: left;
	padding-top: 30px;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
}

.searchwrapper {
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: center;
}

.search_hucre{
	height: 20px;
    font-size: 11px;
	font-family:Verdana;
	font-weight: bold;
    text-align: left;
    padding: 2px;
	padding-left: 4px;
    background: #38ACEC;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
	border-width: 3px;
	box-shadow: 3px 3px 3px #232425;
}
.search_bosluk{
	height:20px; 
	width:3px;
	float:left;
}
.search_giris{
	height: 25px;
	width: 200px;
    font-size: 11px;
	font-family:Verdana;
	font-weight: bold;
    text-align: left;
    padding: 2px;
	padding-left: 4px;
	border-style: solid;
	border-color: #660000;
	border-radius: 8px;
	border-width: 3px;
	box-shadow: 3px 3px 3px #232425;
}
.search_result_hucre{
	height: 20px;
	width:200px;
    font-size: 11px;
	font-family:Verdana;
	font-weight: bold;
    text-align:justify;
    padding: 2px;
	padding-left: 4px;
    background: #38ACEC;
	border-style: solid;
	border-color: #660000;
	border-width: 3px;
	box-shadow: 3px 3px 3px #232425;
}
.search_result{
	height: 25px;
	width: 200px;
    font-size: 11px;
	font-family:Verdana;
	font-weight: bold;
    text-align:justify;
    padding: 2px;
	padding-left: 4px;
	border-style: solid;
	border-color: #660000;
	border-width: 3px;
	box-shadow: 3px 3px 3px #232425;
}