﻿
@{
    ViewBag.Title = "Hakkımızda";
}

<div class="backgroundresim">
    <div class="hakkimizdatitle">
        HAKKIMIZDA
    </div>
    <div class="kisiler">

        <div class="bosluk">
        </div>
        <div class="fotolar">
            <img class="cartoonresim" name="onurresim" src="@Url.Content("~/image/kaynak/onur.png")" height="300" alt="Onur"  />
            <br />
            <br />
            Onur Özden
            <div class="emailyazi">
                onuroz_nba@hotmail.com
            </div>
        </div>
        <div class="bosluk">
        </div>       
        <div class="bosluk">
        </div>
        <div class="fotolar">
            <img class="cartoonresim" name="alperresim" src="@Url.Content("~/image/kaynak/alper.png")" height="300" alt="Alper" />
            <br />
            <br />
            Alper Şahbaz
            <div class="emailyazi">
                alpersahbaz17@gmail.com
            </div>
        </div>
        <div class="bosluk">
        </div>
    </div>
    <div class="hakkimizdatitleson">
        <br />
        Bu site Sakarya Üniversitesi Bilgisayar Mühendisliği Web Programlama dersi kapsamında oluşturulmuştur.
        <p class="emailyazi">
            Ticari bir amacı yoktur.
    </div>

</div>