﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>footer</title>
</head>
<body>
    <div class="footer">
        <div class="footsolkenar">

        </div>
        <div class="footorta" align="center">
            &#169;Copyright 2018
            <p class="footertext"></p>
        </div>
        <div class="footsagkenar">
            <br />
            <p align="center"><a href="~/Home/About">Hakkımızda </a></p>
        </div>
    </div>
</body>
</html>
