﻿
@{
    Layout = null;
    var alper = Session["Giris"];
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>header</title>
</head>
<body>
    <div class="logo">
        <div class="logoleft">
        </div>
        <a href="/Home/Index">
            <div class="logomiddle">
            </div>
        </a>
        <div class="logoright">
        </div>
    </div>
   
    @if (Session["Giris"] == null)
    {


        <form action="/Users/Giris" method="post">
            <div class="kullanici">
                <table width="10%" class="giristable">
                    <tr valign="top">
                        <td rowspan="3"> <img src="@Url.Content("~/image/user.png")" class="source" /> </td>
                        <td> </td>
                    </tr>

                    <tr valign="top">
                        <td rowspan="3"> </td>
                        <td>
                            <input id="userName" class="girisinput" type="text" name="userName" placeholder="Kullanıcı Adı" value="" />
                        </td>
                    </tr>

                    <tr valign="top">
                        <td>
                            <input id="password" class="girisinput" type="password" name="password" placeholder="Parola" value="" />
                        </td>
                    </tr>

                    <tr valign="top" colspan="2">
                        <td rowspan="3"> </td>
                        <td colspan="1">
                            <a href="/Users/Index">
                                <img src="@Url.Content("~/image/kaydol.png")" class="girisbuton" name="Kaydol" id="Kaydol" />
                            </a>
                            &nbsp;&nbsp;
                            <input type="image" name="submit" src="@Url.Content("~/image/giris2.png")" class="girisbuton" />
                            <!-- <img src = "image/giris2.png" class = "girisbuton"  name = "GirisYap" id = "GirisYap" onclick = "girisYap()"/> -->
                        </td>
                    </tr>

                    <tr valign="top">
                        <td rowspan="3"> </td>
                        <td class="girissifremiunuttum">
                          
                        </td>
                    </tr>
                    <tr valign="top">
                        <td id="girisuyari" class="girisuyari">
                            <div id="uyaridiv">

                                <script type="text/javascript">
                                    window.setTimeout(uyarikaybol, 5000);
                                    function uyarikaybol() {
                                        document.getElementById("uyaridiv").style.display = "none";
                                    }
                                </script>
                                </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    }
    else
    {
        <form action="/Users/Cikis" method="post">
            <div class="kullanici">
                <table width="10%" class="giristable">
                    <tr valign="top">
                        
                        <td> </td>
                    </tr>

                    <tr valign="top">
                        <td rowspan="3"> </td>
                        <td class="giristext">
                            <h4 class="giristext">Hoşgeldiniz</h4>
                        </td>
                    </tr>

                    <tr>
                        <td class="giristextusername">
                            <a href="#" class="giristext">
                                @Session["activeUserName"] 
                            </a>
                               

                        </td>
                    </tr>

                    <tr>
                        
                        <td class="giristext">
                            <input type="image" name="submit" src="@Url.Content("~/image/cikis.png")" class="cikisbuton" />
                        </td>
                    </tr>

                </table>
            </div>
        </form>
    }
</body>
</html>
