﻿
@{
   
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset= windows-1254" />
    <link href="@Url.Content("~/Content/otokritik.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/image/araba.png")" />
    <title>OTO KRİTİK</title>
</head>
<body>
    <div class="container">
       
        <div id="header">
            @RenderPage("header.cshtml")

        </div>
        <div class="dis_bolme">
            <div class="yuzdeLeft">
                @*soldaki alan*@
                @RenderPage("solpen.cshtml")

            </div>
            <div class="yuzdeMid">

                @*ortadaki alan*@
                @RenderPage("mainmid.cshtml")
            </div>
            <div class="yuzdeRight">
                @RenderPage("sagpen.cshtml")
            </div>

        </div>

        <div class="footer">
            @RenderPage("footer.cshtml")
        </div>
    </div>
</body>
</html>
