﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/mainmidslider.css")" rel="stylesheet" />
    <title>mainmid</title>
</head>
<body>
    <div class="mainmenudiv">
        <div class="rt-grid-12 rt-alpha rt-omega">


            <div class="csslider1 autoplay">
                <input id="cs_slide1_0" class="cs_anchor slide" type="radio" name="cs_anchor1" />
                <input id="cs_slide1_1" class="cs_anchor slide" type="radio" name="cs_anchor1" />
                <input id="cs_slide1_2" class="cs_anchor slide" type="radio" name="cs_anchor1" />
                <input id="cs_play1" class="cs_anchor" type="radio" checked="" name="cs_anchor1" />
                <input id="cs_pause1" class="cs_anchor" type="radio" name="cs_anchor1" />
                <ul>
                    <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
                        <img style="width: 100%;" src="@Url.Content("~/image/mainpict/1.jpg")" />
                    </div>
                    <li class="num0 img">
                        <a href="news.php?new=0">
                            <div class="haberlerwrapper">
                                <div class="haberler">
                                    <div class="haberlerozet">
                                    </div>
                        </a>
            </div>
        </div>
        </li>
        <li class="num1 img">
            <a href=""><img title="Son Eklenenler" alt="Son Eklenenler" src="@Url.Content("~/image/mainpict/2.jpg")" /></a>
        </li>
        <li class="num2 img">
            <a href="trades.php?trade=3"><img title="Guncel" alt="Guncel" src="@Url.Content("~/image/mainpict/main1.png")"></img></a>
        </li>
        </ul>
        <div class="cs_description">
            <label class="num0">
                <span class="cs_title">
                    <span class="cs_wrapper">

                        En Son Haberler

                    </span>
                </span>
            </label>
            <label class="num1">
                <span class="cs_title">
                    <span class="cs_wrapper">

                        En Yeni Arabalar

                    </span>
                </span>
            </label>
            <label class="num2">
                <span class="cs_title">
                    <span class="cs_wrapper">

                        G&#252;ncel

                    </span>
                </span>
            </label>
        </div>
        <div class="cs_arrowprev">
            <label class="num0" for="cs_slide1_0"></label>
            <label class="num1" for="cs_slide1_1"></label>
            <label class="num2" for="cs_slide1_2"></label>
        </div>
        <div class="cs_arrownext">
            <label class="num0" for="cs_slide1_0"></label>
            <label class="num1" for="cs_slide1_1"></label>
            <label class="num2" for="cs_slide1_2"></label>
        </div>
        <div class="cs_bullets">
            <label class="num0" for="cs_slide1_0">
                <span class="cs_point"></span>
                <span class="cs_thumb">
                    <img title="Haberler" alt="Haberler" src="image/mainpict/main2k.png" />
                </span>
            </label>
            <label class="num1" for="cs_slide1_1">
                <span class="cs_point"></span>
                <span class="cs_thumb">
                    <img title="Son Eklenenler" alt="Son Eklenenler" src="image/mainpict/2k.jpg" />
                </span>
            </label>
            <label class="num2" for="cs_slide1_2">
                <span class="cs_point"></span>
                <span class="cs_thumb">
                    <img title="Guncel" alt="Guncel" src="image/mainpict/main1k.png" />
                </span>
            </label>
        </div>
    </div>

    <div class="clear"></div>
    </div>
    </div>
    
</body>
</html>
