﻿
@{
    Layout = null;
    List<WebApplication4.Models.news> list = Html.NewsListe();
    var nokta = "...";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sagopen</title>
</head>
<body>
    <div class="sagpencere" align="center">

        <div><strong><h3><u><a href="/News/Index/0">Haberler</a></u></h3></strong></div>

        @foreach (var item in list)
        {
            <br />
            <a href="/News/Index/@item.id"><b>@item.title</b></a>
            <br />
            @item.text.Substring(0, 50)@nokta
            

         }

      
    </div>
</body>
</html>
