﻿
@{
    Layout = null;
    List <WebApplication4.Models.trade> list = Html.Liste();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>solopen</title>
</head>
<body>
    <div class="solpencere" align="left">
        <div align="center"><strong><h3><u>Otomobiller</u></h3></strong></div>
        <ul>
            @foreach (var item in list)
            {                
                <li>    <a href="/Trades/Index/@item.id"> @item.name</a></li>
            }
           
        </ul>
    </div>
</body>
</html>
