﻿
@{
    ViewBag.Title = "usermid";
}

      @*1 - 'Kullanici adi en az 3 karakter olmali!'
		2 - 'Parola en az 5 karakter olmali!'
		3 - 'Parola en az 5 karakter olmali!'
		4 - 'Ad en az 3 karakter olmali!'
		5 - 'Soyad en az 2 karakter olmali!'
		6 - 'Zorunlu alan: E-posta!'
		7 - 'Bu üye adı sistemimizde mevcuttur!'
		8 - 'Bu e-posta adresi sistemimizde mevcuttur!'
		9 - 'Parolalar Birbirini tutmuyor!'*@

<div class="kaydolback">
    <div class="kaydolempty"></div>

    <div class="kaydolyazi">
        <p>
            Türkiye'nin en büyük olmasa da en sıcak otomobil tanıtım ve eleştiri sitesine HOŞGELDİN.
        </p><p>
            Kullanıcıların otomobillerini tanıttığı, başka kullanıcıların otomobilleriyle alakalı yorumlar
            yapabildiği, otomobil marka ve modellerine puan verebildiği, otomobil teknolojileriyle alakalı en güncel
            haberleri yakından takip edebildiği yerdesin. Otokritik'tesin. OTOKRİTİK ailesi olarak seni de aramızda
            görmekten mutluluk duyacağız.
        </p><p>
            Ailemizin bir parçası olmaya bir adım uzaktasın. Tek yapman gereken aşağıdaki formu eksiksiz
            olarak doldurmak. Hepsi bu. Hadi ne duruyorsun...

        </p>
    </div>

    <div class="kaydolempty"></div>
    <div class="kaydolortalaempty"></div>

    <form action="/Users/Kaydol" method='post'>
        <table class="kaydoltable">
            <tr>
                <td class="kaydolstar"></td>
                <td class="kaydolhucre">  Üye Adı: </td>
                <td>
                    <input class="kaydolinput_giris" type="text" name="uyeadi" value="" />
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td class="kaydolstar"></td>
                <td class="kaydolhucre"> E-mail: </td>
                <td>
                    <input class="kaydolinputlar" type="text" name="mail" value="" />
                </td>
            </tr>
            <tr>
                <td class="kaydolstar"></td>
                <td class="kaydolhucre">Şifre: </td>
                <td>
                    <input class="kaydolinputlar" type="password" name="sifre" value="" />
                </td>
            </tr>
            <tr>
                <td class="kaydolstar"></td>
                <td class="kaydolhucre">Şifre(tekrar): </td>
                <td>
                    <input class="kaydolinputlar" type="password" name="sifre2" value="" />
                </td>
            </tr>
            <tr>
                <td class="kaydolstar"></td>
                <td class="kaydolhucre">Adı: </td>
                <td>
                    <input class="kaydolinputlar" type="text" name="adi" value="" />
                </td>
            </tr>
            <tr>
                <td class="kaydolstar"></td>
                <td class="kaydolhucre">Soyadı: </td>
                <td>
                    <input class="kaydolinputlar" type="text" name="soyadi" value="" />
                </td>
            </tr>
           
        </table>
        <div class="kaydolemptyshort"></div>
        <div class="kaydolbuttondiv">
            <input type="image" name="submit" src="@Url.Content("~/image/kaydol.png")" class="girisbuton">
        </div>
        <div id="uyari2div" class="kaydolbuttondiv" style="display:block;">
            <div class="degisuyari">
                @Session["uyari"]
            </div>
        </div>
        <script type="text/javascript">
            window.setTimeout(uyarikaybol, 5000);
            function uyarikaybol() {
                document.getElementById("uyari2div").style.display = "none";
            }
        </script>
    </form>
    @{

        Session["uyari"] = "";
    }
</div>

