﻿@model IEnumerable<WebApplication4.Models.news>

@{
    ViewBag.Title = "";
    List<WebApplication4.Models.news> list = Html.NewsListe();
}


<div class="newsalldiv">
    <div class="newsempty"> </div>
    <table class="newsalltable">
       
    </table>
</div>

<div class="newstitlediv">
    -@Session["titleofnew"]-
</div>

<div class="newstimediv">
    <u>

        @Session["timeofnew"].ToString().Substring(0, 10)
    </u>
</div>

<div class="newstextdiv">
    @Session["textofnew"]
</div>

<div class="newsuser">
    Yazar : <b><i>@Session["username"]</i></b>
</div>


<div class="newscommentsdiv">
    @*Yorum yapabilmek i&#231in l&#252tfen giri&#351 yap&#305n!*@
</div>

        </div>
