﻿
@{

            var marka = Session["seciliMarka"];
            var tradeLogo = "~/image/trade" + marka + "/logobuyuk.png";
            var countryId = Session["countryId"];
            var countryLogo = "~/image/flags/" + countryId + ".png";
            List<WebApplication4.Models.model> list = Html.Liste(Int32.Parse(Session["seciliMarka"].ToString()));
  }

    

<div class="tradeheadback">
    <div class="tradehead">
        <div class="tradeheadleft">

            <img src="@Url.Content(tradeLogo)" height="85" />
        </div>

        <div class="tradeheadmid">
            @Session["tradeName"].ToString().ToUpper()
        </div>

        <div class="tradeheadright">
            <div class="tradeheadrighttop">

                <img src="@Url.Content(countryLogo)" height="60" />

            </div>

            <div class="tradeheadrightbot">
                @Session["tradeCountryName"]
            </div>
        </div>
    </div>
</div>
<div class="tradesummary">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;

        -@Session["tradeSummary"]

    </p>
</div>

<div class="tradebot">
    <div class="trademodels">
        <p class="boldparagraph">
            <br />
            <br />
            Modeller :
        </p>
        <p>
            <ul>
                @foreach (var item in list)
                {
                  
                <li>&nbsp;&nbsp;&nbsp;&nbsp;    <a href="/Models/Index/?id=@item.id&name=@Session["tradeName"]&modelName=@item.name"> @item.name</a></li>
                }

              
            </ul>
        </p>
    </div>

    <div class="traderatingdiv">
        <div class="tradestarback">
            <div class="tradestarempty"> </div>
            <div class="tradestarbackwrapper">
                <div class="tradestarpercenttop" style="">

            </div>
            <div class="tradestarpercentbot" style="">

        </div>
    </div>
</div>


		</div>
	</div>
