﻿@model IEnumerable<WebApplication4.Models.model>

@{
    ViewBag.Title = "Model";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset= windows-1254" />
    <meta name="viewport" content="width=device-width" />
    <meta name="Author" content="Onur Özden, Alper SAHBAZ, Ömer Susuz" />
    <link href="@Url.Content("~/Content/otokritik.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/image/araba.png")" />



</head>

<body>
    <div class="container">
        <div id="header">
            @RenderPage("~/Views/Home/header.cshtml")
        </div>
        <div class="dis_bolme">
            <div class="yuzdeLeft">
                @*soldaki alan*@
                @RenderPage("~/Views/Home/solpen.cshtml")
            </div>
            <div class="yuzdeMid">
                @RenderPage("modelmid.cshtml")
            </div>

            <div class="yuzdeRight">
                @RenderPage("~/Views/Home/sagpen.cshtml")
            </div>
        </div>
        <div class="footer">
            @RenderPage("~/Views/Home/footer.cshtml")
        </div>

    </div>
</body>
</html>
