﻿
@{
    ViewBag.Title = "modelmid";


    List<WebApplication4.Models.cars> carsData = (List<WebApplication4.Models.cars>)Session["cars"];
    String[] liste = carsData[0].imagepath.Split(';');

}

<script language="JavaScript">
    function changeImage(imageName, imageFileName) {
        document.images[imageName].src = imageFileName;
    }
</script>
<div class="modelgoback">
    <a href="/Trades/Index/@Session["id"]">
        <img src="@Url.Content("~/image/geridon.png")" class="gobackbutton" />
    </a>
</div>
<div class="modelminipict">
    @foreach (String item in liste)
    {

        <img src="@Url.Content(String.Format("~/image/modelfoto/{0}",item))" class="minipict"
             onMouseOver="changeImage('bigpicture','/image/modelfoto/@item')" />

    }
</div>
<div class="modelpict">
    <img src="@Url.Content(String.Format("~/image/modelfoto/{0}",liste[0]))" name="bigpicture" class="bigpict" />

</div>

<div class="modelpictupdatelink">

</div>

<div class="modelprop">
    <div class="modelproportalaempty"></div>
    <table class="modelproptable">
        <tr>
            <th colspan="4" class="modelpropmaintitle">
                -TEKNİK ÖZELLİKLERİ-
            </th>
        </tr>
        <tr>
            <td class="modeltitle"> Üretici </td>
            <td class="modelres" colspan="3"> @Session["name"] </td>
        </tr>

        <tr>
            <td class="modeltitle"> Model Adı </td>
            <td class="modelres"> @Session["modelName"] </td>
            <td class="modeltitle"> Stil </td>
            <td class="modelres">@carsData[0].style </td>
        </tr>

        <tr>
            <td class="modeltitle"> Motor Hacmi </td>
            <td class="modelres"> @carsData[0].motorvolume cc</td>
            <td class="modeltitle"> Beygir Gücü </td>
            <td class="modelres"> @carsData[0].hp </td>
        </tr>

        <tr>
            <td class="modeltitle"> En Yüksek Hız </td>
            <td class="modelres"> @carsData[0].maxspeed km/saat</td>
            <td class="modeltitle"> Hızlanma (0-100 km) </td>
            <td class="modelres"> @carsData[0].speedms100  sn </td>
        </tr>
    </table>
</div>

